{
    admin
}

:8080 {
    handle_path /shim* {
        uri strip_prefix /shim
        reverse_proxy localhost:8081
    }
 
    handle_path /* {
        request_body {
            max_size 100MB
        }
        reverse_proxy localhost:9090
    }


}